In [10]:
import pandas as pd

In [14]:
data = pd.read_excel('eines.xlsx')
data

,_time,SkidNr,Line,Camera,Recognized,Quality1,Quality2,Quality3,Quality4,Quality_Min
0,2022-06-27T14:30:04.000+0200,1322,3,6,OK,0.88,0.93,0.91,0.92,0.88
1,2022-06-27T14:29:58.000+0200,365,3,4,OK,0.97,0.93,0.97,0.89,0.89
2,2022-06-27T14:29:30.000+0200,329,2,4,OK,0.95,0.91,0.94,0.96,0.91
3,2022-06-27T14:29:27.000+0200,104,1,2,OK,0.96,0.84,0.96,0.93,0.84
4,2022-06-27T14:29:23.000+0200,576,2,6,OK,0.98,0.91,0.94,0.95,0.91
...,...,...,...,...,...,...,...,...,...,...
211258,2022-06-03T05:08:34.000+0200,990,2,2,OK,0.96,0.94,0.95,0.96,0.94
211259,2022-06-03T05:08:22.000+0200,366,2,4,OK,0.97,0.89,0.96,0.95,0.89
211260,2022-06-03T05:08:06.000+0200,442,2,6,OK,0.98,0.94,0.93,0.93,0.93
211261,2022-06-03T05:07:44.000+0200,981,3,2,OK,0.94,0.94,0.94,0.83,0.83
211262,2022-06-03T05:07:38.000+0200,1285,1,2,OK,0.83,0.90,0.96,0.90,0.83

In [26]:
#parse column _time to datetime format
data['_time'] = pd.to_datetime(data['_time'])

data['Date'] = pd.to_datetime(data['_time']).dt.date
data['Time'] = pd.to_datetime(data['_time']).dt.time
second_column = data.pop('Date')
data.insert(1, 'Date', second_column)
third_column = data.pop('Time')
data.insert(2, 'Time', third_column)
data.pop('_time')

data

,Date,Time,SkidNr,Line,Camera,Recognized,Quality1,Quality2,Quality3,Quality4,Quality_Min
0,2022-06-27,14:30:04,1322,3,6,OK,0.88,0.93,0.91,0.92,0.88
1,2022-06-27,14:29:58,365,3,4,OK,0.97,0.93,0.97,0.89,0.89
2,2022-06-27,14:29:30,329,2,4,OK,0.95,0.91,0.94,0.96,0.91
3,2022-06-27,14:29:27,104,1,2,OK,0.96,0.84,0.96,0.93,0.84
4,2022-06-27,14:29:23,576,2,6,OK,0.98,0.91,0.94,0.95,0.91
...,...,...,...,...,...,...,...,...,...,...,...
211258,2022-06-03,05:08:34,990,2,2,OK,0.96,0.94,0.95,0.96,0.94
211259,2022-06-03,05:08:22,366,2,4,OK,0.97,0.89,0.96,0.95,0.89
211260,2022-06-03,05:08:06,442,2,6,OK,0.98,0.94,0.93,0.93,0.93
211261,2022-06-03,05:07:44,981,3,2,OK,0.94,0.94,0.94,0.83,0.83
211262,2022-06-03,05:07:38,1285,1,2,OK,0.83,0.90,0.96,0.90,0.83